@model IEnumerable<my_store_project.Models.ViewModels.Pages.PageVM>

@{
    ViewBag.Title = "Pages";
}

<h2>Pages</h2>

@if (TempData["Successful message"] != null)
{
    <div class="alert alert-success">
        @TempData["Successful message"]
    </div>
}

<p>
    @Html.ActionLink("Create New Page", "AddPage", "", new { @class = "btn btn-success" })
</p>
@if (!Model.Any())
{
    <h1 class="text-center">There are no pages</h1>
}
else
{
    <table class="table sorting" id="pages">
        <tr>
            <th class ="home">
                Title
            </th>
            <th>
                Slug
            </th>
            <th>
                SideBar
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        //  (5)
        {
            <tr id = "id_@item.Id" class = "@item.Slug">
                <td>
                    @if (item.Slug !="home")
                    {
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                    }
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasSideBar)
                </td>
                <td>
                    <!-- Метод деталей -->
                    @Html.ActionLink("Edit", "EditPage", new { id = item.Id }) |
                    <!-- Метод редактирования -->
                    @Html.ActionLink("Details", "PageDetails", new { id = item.Id })
                    
                    <!-- Если Slug равен home, не показывать кнопку удаления -->
                    @if (item.Slug != "home")
                    {
                      string slash = "| ";
                      @slash;
                      @Html.ActionLink("Delete", "DeletePage", new { id = item.Id }, new {@class = "delete"})  
                    }                    
                </td>
            </tr>
        }
    </table>
}

@section Scripts 
{
    <script>
        $(function () {
            /* Confirm page deletion*/

            $("a.delete").click(function () {
                if (!confirm("Confirm page deletion")) return false;
            });

            /*------------------------------------------------------*/
            /* Sorting script */
            $("table#pages tbody").sortable({ 
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    var url = "/Admin/Pages/ReorderPages";

                    $.post(url, ids, function (data){
                    });
                }
            });
        });
    </script>
}
